In [1]:
import pandas as pd
import datasist as ds
import numpy as np

/home/miguel/.cache/pypoetry/virtualenvs/apolar-molecules-R_6ouwk2-py3.9/lib/python3.9/site-packages/datasist/structdata.py:81: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if len(date_cols) is not 0:

In [2]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [62]:
def make_apolar_data(data_path: str, all: bool = True) -> pd.DataFrame:
    """
    Create Apolar Data with all molecules so we can use it.
    # Parameters
    - data_path: It can be relative or absolute path since it's read with pandas.read_csv
    - all: If you want to put all the molecules even the one's without anisotropy.

    # Returns
    Return an pd.DataFrame
    """
    df = pd.read_csv(data_path) # Importing Data

    # Dropping the columns with missing values (It'll be the ones without Anisotropic Polarizability)
    if all == True:
        # Dropping the columns that we don't wanna to analyse here
        df.drop(['Molecule Type', 'N of Carbon', 'DYS', 'SG', 'PauloPred'], axis=1, inplace=True)
        df = ds.feature_engineering.drop_missing(df, percent = 10)
    elif all == False:
        # Dropping rows
        molecules_to_drop = df.loc[np.isnan(df['axx'])].index
        df.drop(molecules_to_drop, inplace=True)
        df.reset_index(drop=True, inplace=True)

        # Dropping and Rearranging columns
        df['Alpha'] = np.round(df['AlphaB'],2) # Changing Alpha per AlphaB(Mean of Anisotropic Polarizability)
        df[['axx','ayy','azz']] = np.round(df[['axx','ayy','azz']], 2) # Rounding to get the visualization better
        
        df.drop(['Molecule Type', 'N of Carbon', 'DYS', 'SG', 'PauloPred', 'AlphaB'], axis=1, inplace=True)
    else:
        raise TypeError("Only boolean are allowed")
    return df

In [60]:
df_apol = make_apolar_data("../../data/raw/expd_apolar_molecules.CSV")
df_apol

Dropped ['axx', 'ayy', 'azz', 'AlphaB']

                      Molecule  Formula    Ei  Alpha  Expt  pi_bond
0                       Butane    C4H10  10.6   8.10    35        0
1                      Pentane    C5H12  10.4  10.00    60        0
2                       Hexane    C6H14  10.2  11.80    80        0
3                      Heptane    C7H16   9.9  13.70   105        0
4                       Octane    C8H18  10.0  15.50   115        0
5                       Nonane    C9H20  10.0  17.40   145        0
6                     Dodecane   C12H26   9.9  22.90   220        0
7                   Hexadecane   C16H34   9.9  30.30   310        0
8                     Ethylene     C2H4  10.5   4.20    20        1
9                 Cyclopropane     C3H6   9.9   5.70    10        0
10                 Cyclohexane    C6H12   9.9  11.80    80        0
11                     Benzene     C6H6   9.3  10.40   150        3
12                 Naphthalene    C10H8   8.2  16.60   300        5
13             2-3-butanedione   C4H6O2   9.3   8.20    77        2
14                  IsoPentane    C5H12  10.3  10.00    60        0
15                 TetraDecane   C14H30   9.9  26.60   260        0
16                     Propane     C3H8  11.1   6.30    10        0
17         Tetrachloroethylene    C2Cl4   9.3  12.30    57        1
18  1-2-trans-Dichloroethylene  C2H2Cl2   9.6   8.15    15        1
19             Carbondisulfide      CS2  10.1   8.70    75        2

In [63]:
df_apol = make_apolar_data("../../data/raw/expd_apolar_molecules.CSV", all=False)
df_apol

,Molecule,Formula,Ei,Alpha,Expt,axx,ayy,azz,pi_bond
0,Butane,C4H10,10.6,8.08,35,9.31,7.68,7.24,0
1,Pentane,C5H12,10.4,9.95,60,11.72,9.39,8.74,0
2,Hexane,C6H14,10.2,11.85,80,14.32,10.99,10.23,0
3,Heptane,C7H16,9.9,13.76,105,16.91,12.66,11.72,0
4,Octane,C8H18,10.0,15.68,115,19.60,14.26,13.19,0
5,Nonane,C9H20,10.0,16.75,145,21.31,14.93,14.01,0
6,Ethylene,C2H4,10.5,4.18,20,5.43,3.77,3.35,1
7,Cyclopropane,C3H6,9.9,5.51,10,5.75,5.75,5.04,0
8,Cyclohexane,C6H12,9.9,10.79,80,11.29,11.29,9.78,0
9,Benzene,C6H6,9.3,10.40,150,12.27,12.27,6.67,3
10,Naphthalene,C10H8,8.2,18.08,300,25.71,18.70,9.83,5
11,2-3-butanedione,C4H6O2,9.3,8.32,77,9.76,9.07,6.12,2
12,IsoPentane,C5H12,10.3,9.87,60,10.88,9.85,8.86,0
13,Propane,C3H8,11.1,6.21,10,6.84,6.06,5.73,0
14,Tetrachloroethylene,C2Cl4,9.3,12.28,57,15.10,13.93,7.81,1
15,1-2-trans-Dichloroethylene,C2H2Cl2,9.6,8.27,15,12.53,6.72,5.56,1
16,Carbondisulfide,CS2,10.1,8.12,75,13.90,5.23,5.23,2

In [6]:
ds.structdata.describe(df_apol)

First five data points

,Molecule,Formula,Ei,Alpha,Expt,axx,ayy,azz,AlphaB,pi_bond
0,Butane,C4H10,10.6,8.1,35,9.308,7.677,7.245,8.076667,0
1,Pentane,C5H12,10.4,10.0,60,11.725,9.393,8.743,9.953667,0
2,Hexane,C6H14,10.2,11.8,80,14.325,10.994,10.232,11.850333,0
3,Heptane,C7H16,9.9,13.7,105,16.910,12.658,11.715,13.761000,0
4,Octane,C8H18,10.0,15.5,115,19.595,14.255,13.193,15.681000,0

Random five data points

,Molecule,Formula,Ei,Alpha,Expt,axx,ayy,azz,AlphaB,pi_bond
8,Ethylene,C2H4,10.5,4.20,20,5.429,3.766,3.346,4.180333,1
13,2-3-butanedione,C4H6O2,9.3,8.20,77,9.758,9.073,6.117,8.316000,2
18,1-2-trans-Dichloroethylene,C2H2Cl2,9.6,8.15,15,12.534,6.722,5.563,8.273000,1
12,Naphthalene,C10H8,8.2,16.60,300,25.712,18.700,9.826,18.079333,5
9,Cyclopropane,C3H6,9.9,5.70,10,5.750,5.750,5.035,5.511667,0

Last five data points

,Molecule,Formula,Ei,Alpha,Expt,axx,ayy,azz,AlphaB,pi_bond
15,TetraDecane,C14H30,9.9,26.60,260,NaN,NaN,NaN,NaN,0
16,Propane,C3H8,11.1,6.30,10,6.843,6.065,5.726,6.211333,0
17,Tetrachloroethylene,C2Cl4,9.3,12.30,57,15.103,13.932,7.814,12.283000,1
18,1-2-trans-Dichloroethylene,C2H2Cl2,9.6,8.15,15,12.534,6.722,5.563,8.273000,1
19,Carbondisulfide,CS2,10.1,8.70,75,13.902,5.234,5.234,8.123333,2

Shape of  data set: (20, 10)


Size of  data set: 200


Data Types
Note: All Non-numerical features are identified as objects in pandas

         Data Type
Molecule    object
Formula     object
Ei         float64
Alpha      float64
Expt         int64
axx        float64
ayy        float64
azz        float64
AlphaB     float64
pi_bond      int64

Numerical Features in Data set
['Ei', 'Alpha', 'Expt', 'axx', 'ayy', 'azz', 'AlphaB', 'pi_bond']


Categorical Features in Data set

['Molecule', 'Formula']

Statistical Description of Columns

,Ei,Alpha,Expt,axx,ayy,azz,AlphaB,pi_bond
count,20.000000,20.000000,20.000000,17.000000,17.000000,17.000000,17.000000,20.000000
mean,9.915000,12.932500,109.200000,13.096941,10.150647,8.183176,10.476922,0.750000
std,0.602866,6.935953,94.098269,5.465676,4.035507,3.002566,3.907074,1.332785
min,8.200000,4.200000,10.000000,5.429000,3.766000,3.346000,4.180333,0.000000
25%,9.825000,8.187500,51.500000,9.758000,6.722000,5.726000,8.123333,0.000000
50%,9.900000,11.100000,78.500000,12.271000,9.851000,7.814000,9.953667,0.000000
75%,10.225000,15.775000,146.250000,15.103000,12.658000,9.826000,12.283000,1.000000
max,11.100000,30.300000,310.000000,25.712000,18.700000,14.012000,18.079333,5.000000

Description of Categorical Features

         count unique     top freq
Molecule    20     20  Butane    1
Formula     20     19   C5H12    2

Unique class Count of Categorical features

Missing Values in Data

   features  missing_counts  missing_percent
0  Molecule               0              0.0
1   Formula               0              0.0
2        Ei               0              0.0
3     Alpha               0              0.0
4      Expt               0              0.0
5       axx               3             15.0
6       ayy               3             15.0
7       azz               3             15.0
8    AlphaB               3             15.0
9   pi_bond               0              0.0

In [14]:
df_apol = ds.feature_engineering.drop_missing(df_apol, percent = 10)

Dropped ['axx', 'ayy', 'azz', 'AlphaB']

In [15]:
df_apol.head()

  Molecule Formula    Ei  Alpha  Expt  pi_bond
0   Butane   C4H10  10.6    8.1    35        0
1  Pentane   C5H12  10.4   10.0    60        0
2   Hexane   C6H14  10.2   11.8    80        0
3  Heptane   C7H16   9.9   13.7   105        0
4   Octane   C8H18  10.0   15.5   115        0