In [1]:
import pandas as pd
import numpy as np

In [10]:
df_all = pd.read_csv("../../data/processed/processed_apolar.csv")
df_partial = pd.read_csv("../../data/final/final_apolar.csv")
df_partial.head()

  Molecule Formula    Ei  Alpha  Expt    axx    ayy    azz  pi_bond
0   Butane   C4H10  10.6   8.08    35   9.31   7.68   7.24        0
1  Pentane   C5H12  10.4   9.95    60  11.72   9.39   8.74        0
2   Hexane   C6H14  10.2  11.85    80  14.32  10.99  10.23        0
3  Heptane   C7H16   9.9  13.76   105  16.91  12.66  11.72        0
4   Octane   C8H18  10.0  15.68   115  19.60  14.26  13.19        0

In [11]:
df_all.head()

  Molecule Formula    Ei  Alpha  Expt  pi_bond
0   Butane   C4H10  10.6    8.1    35        0
1  Pentane   C5H12  10.4   10.0    60        0
2   Hexane   C6H14  10.2   11.8    80        0
3  Heptane   C7H16   9.9   13.7   105        0
4   Octane   C8H18  10.0   15.5   115        0

# 20 Molecules

In [12]:
# Separating between x's and y

# For all molecules we'll have the following combination:
# All Features; Ei + Alpha; Ei + Pi Bond; Alpha + Pi Bond

x0_all = df_all[['Ei', 'Alpha', 'pi_bond']]
x1_all = df_all[['Ei', 'Alpha']]
x2_all = df_all[['Ei', 'pi_bond']]
x3_all = df_all[['Alpha', 'pi_bond']]

y_all = df_all[['Expt']].values

x0_all.shape, x1_all.shape, x2_all.shape, x3_all.shape, y_all.shape

((20, 3), (20, 2), (20, 2), (20, 2), (20, 1))

In [ ]:
# Importing regressors and relevant functions

from sklearn.neural_network import MLPRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures, StandardScaler, RobustScaler, MinMaxScaler
from sklearn.compose import TransformedTargetRegressor
from skopt.space.space import Real, Categorical, Integer

In [ ]:
# Defining spaces to optimize

pipe_elastic = Pipeline([('poli', PolynomialFeatures()), ('scaling', MinMaxScaler()),  ('reg', linear_model.Ridge(max_iter=30000))])
ridge = TransformedTargetRegressor(regressor = pipe_elastic, transformer = StandardScaler())

space_poli = [

    Real(1e-5,100, 'log-uniform', name='regressor__reg__alpha'),
    Categorical([True, False], name = 'regressor__reg__fit_intercept'),
    Categorical([True, False], name = 'regressor__reg__copy_X'),
    Integer(1,10,name='regressor__poli__degree'),
    Categorical([True,False], name='regressor__poli__interaction_only'),
    Categorical([True,False], name = 'regressor__poli__include_bias'),
    Categorical([StandardScaler(),MinMaxScaler(),RobustScaler()], name = "regressor__scaling"),
    Categorical([StandardScaler(),MinMaxScaler(),RobustScaler()], name = "transformer")

]
params_poli = [0.1847625735942012, False, False, 1, True, False, MinMaxScaler(), MinMaxScaler()]
att_model(ridge, space_poli, params_poli)

# 17 Molecules